.DevContainer {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
}

.DevHead {
  text-align: center;
}

.DevHead h1 {
  display: inline-block;
  font-size: 3em;
  padding-bottom: 5px;
  border-bottom: 1px dotted #ddd;
  margin: 0;
}
.DevHead h2 {
  padding-top: 5px;
  margin: 0;
}

.DevContent {
  margin-top: 30px;
  padding-top: 30px;
}

.DevContent h2 {
  border-left: 5px #dd4c39 solid;
  padding-left: 10px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.DevContent h3 {
  margin-bottom: 2%;
}

.DevContent p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
/* DevExplain */
.DevExplain {
  margin: 2%;
}
.DevExplain h3,
.DevExplain h4 {
  margin: 0;
}
/* Code */

pre {
  width: 100%;
  padding: 0px !important;
  margin: 20px 0;
}

pre code {
  display: block;
  color: #abb2bf;
  background: #1e1e1e;
  padding: 2rem;
  border-radius: 4px;
}

._codeBlue {
  color: #1e6379;
}
._codeSky {
  color: #34aed6;
}
._codeName {
  color: #fde3b3;
}
._codeWhite {
  color: white;
}
._codeVerse {
  color: #a8d1ff;
}
._codePurple {
  color: #dd73dd;
}
._codeGreen {
  color: #009933;
}
._codeBGreen {
  color: #95f7b6;
}
._codeOrange {
  color: #fcb54c;
}
._codeRed {
  color: #dd4c39;
}

/* scroll bar */
.ScrollDiv {
  display: inline-block;
  width: 150px;
  height: 200px;
  position: fixed;
  top: 150px;
  left: 1300px;
}

.ScrollDiv p {
  font-size: 0.8em;
  color: #333;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.ScrollDiv p:hover {
  text-decoration: underline;
  color: #aaa;
}

@media screen and (max-width: 768px) {
  .DevContainer {
    width: 70%;
  }
  .DevContent h2 {
    border-left: 5px #dd4c39 solid;
    padding-left: 10px;
    font-size: 1em;
  }
  .DevContent h3 {
    font-size: 0.9em;
  }
  .DevContent p {
    font-size: 0.7em;
  }
}

/* DevImg */
.DevImg {
  width: 30%;
  margin: 0 auto;
  height: auto;
}

.DevImg img {
  width: 100%;
}
