.BasicContainer {
  width: 70%;
  margin: 0px auto 100px;
  height: auto;
  padding: 0px 50px;
  border: 1px dotted #ddd;
}

.ProjectTopic {
  margin: 50px 0;
}
.ProjectTopic h2 {
  margin: 30px 30px 20px;
  padding-left: 10px;
  font-size: 2em;
  border-left: coral 5px solid;
}

.ProjectExplain h3 {
  margin: 20px 30px;
  padding-left: 10px;
  font-size: 1.5em;
  font-weight: bold;
}
.ProjectExplain p {
  margin: 1px 30px;
  padding-left: 10px;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 2em;
}

.ProjectImage {
  display: block;
  width: 40%;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;
}
.ProjectImage img {
  width: 80%;
  height: 80%;
}

.ProjectImageCircle {
  display: block;
  width: 40%;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;
}
.ProjectImageCircle img {
  border-radius: 50%;
  width: 80%;
  height: 80%;
}
/* ProjectBackface */

.panelList {
  display: flex;
  width: 100%;
  height: 320px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.panel {
  display: inline-block;
  position: relative;
  width: 30%;
}

.panel img {
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  backface-visibility: hidden;
  box-shadow: rgb(204, 204, 204) 0px 10px 20px;
  border-radius: 50%;
}

.front {
  border: 1px solid #ddd;
  z-index: 2;
}
.frontcontent {
  display: inline-block;
  width: 70%;
  margin: 15%;
}

.back {
  z-index: 1;
  transform: rotateY(-180deg);
  border: 1px solid #ddd;
}
.backcontent {
  display: inline-block;
  width: 70%;
  height: 70%;
  margin: 15%;
}
.backcontent h3 {
  font-size: 1.2rem;
  margin: 0.8rem;
}
.backcontent p {
  font-size: 0.8rem;
  color: #111;
  margin: 0.8rem;
}

.panel:hover .front {
  z-index: 1;
  transform: rotateY(180deg);
}

.panel:hover .back {
  z-index: 2;
  transform: rotateY(0deg);
}
@media screen and (max-width: 768px) {
  .panelList {
    /* height: ; */
  }
}

/* Video */

.videoContainer {
  width: 100%;
}

/* ProjectImageList */

.ProjectImageList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 500px;
  /* height - media */
}
.ProjectImageList div {
  width: 49%;
}
.ProjectImageList img {
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .BasicContainer {
    padding-top: 20px;
  }
  .ProjectTopic {
    margin: 20px 0;
    font-size: 0.8em;
  }
  .ProjectTopic h2 {
    margin: 15px 15px 10px;
    padding-left: 5px;
    font-size: 1em;
    border-left: coral 3px solid;
  }
  .ProjectExplain h3 {
    margin: 5px 15px;
    padding-left: 5px;
    font-size: 0.7em;
  }
  .ProjectExplain p {
    margin: 1px 15px;
    padding-left: 5px;
    font-size: 0.5em;
    font-weight: bold;
  }

  .ProjectImage img {
    width: 100%;
    height: 100%;
  }

  /* panel 사진  */

  .panelList {
    display: flex;
    width: 100%;
    height: 12vh;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .panel {
    display: inline-block;
    position: relative;
    width: 30%;
  }

  .panel img {
    width: 100%;
    height: 100%;
  }
  .backcontent {
    display: inline-block;
    width: 70%;
    height: 60%;
    margin: 15%;
  }
  .backcontent h3 {
    font-size: 0.1rem;
  }
  .backcontent p {
    display: none;
  }
  .videoContainer {
    width: 30%;
  }
  iframe {
    width: 100%;
  }
}
