header {
}
.headerWrap {
  display: flex;
  align-items: center;
  min-height: 13vh;
  background-image: url(../image/universe.jpg);
  width: 100%;
  position: relative;
  z-index: 3;
  justify-content: space-around;
}

/* logo */
._logo {
  text-align: center;
}

.link_logo {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 80px;
  text-decoration: none;
}

.scrolled {
  position: fixed;
}

/*  nav 바  */

nav {
  width: 30%;
}
.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.nav-links a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
}
.nav-links a:hover {
  color: #bbb;
}
/* menuList , 화면 작아졌을때 짝대기 세개 */
.menu_list {
  display: none;
  cursor: pointer;
  width: 15%;
}
.menu_list div {
  background-color: #fff;
  width: 40%;
  height: 2px;
  margin: 5px;
  transition: all 0.3s ease;
}
/* infoList , 화면 작아졌을때 왼쪽 버튼 옮길거 */

.Info_list {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  /* logo */
  ._logo {
    width: 70%;
  }
  .link_logo {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2.2em;
    text-decoration: none;
  }
  nav {
    display: none;
  }

  .nav-links {
    position: absolute;
    height: 80vh;
    top: 11.5vh;
    background-color: #000;
    display: none;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    width: 100%;
    border-bottom: 1px solid #ddd;
    opacity: 0;
    padding-bottom: 20px;
  }
  .nav-links li:last-child {
    border-bottom: none;
  }

  .nav-links li a:hover {
    color: #bbb;
  }

  .menu_list {
    display: inline-block;
  }

  .Info_list {
    display: inline-block;
    cursor: pointer;
    width: 15%;
    text-align: center;
  }
  .Info_list img {
    border-radius: 50%;
    width: 30%;
    height: 100%;
  }
}
.nav-active {
  transform: translateX(0%);
  display: flex;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
}

.nav-links li:hover .project-links {
  display: block;
}
