.myselfContainer {
  text-align: center;
  padding: 4rem 1rem;
  color: #ccc;
  background: black;
  font-family: "Jua", sans-serif;
}

.myPicture {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: white;
  margin: 30px auto;
}
.myPicture img {
  width: 80%;
  height: 80%;
  padding: 8px;
  margin-left: 10px;
  margin-top: 10px;
}
.__intro {
  padding: 10px;
}

.__intro p {
  font-size: 1.3em;
  text-transform: uppercase;
}

.__pbold {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}
.__pbold2 {
  font-size: 15px;
}

.goal {
  font-size: 12px;
  line-height: 2em;
}

.Expression {
  margin-top: 50px;
}

.__SNSIcon {
  margin-top: 50px;
}
.__SNSIcon ul li {
  width: 30px;
  height: auto;
  display: inline-block;
  margin: 0 10px;
}
.__SNSIcon ul li a,
.__SNSIcon ul li a:hover,
.__SNSIcon ul li a:active,
.__SNSIcon ul li a:visited {
  color: #fff;
}

/* tecImage */

.tecImage span {
  padding: 1px;
  margin-right: 3px;
}
.tecImage span img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Slider */

.slider-wrapper {
  font-size: 38px;
  color: #aaa;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.slider {
  height: 50px;
  overflow: hidden;
}
.slider div {
  color: #fff;
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 15px;
  text-align: center;
  box-sizing: border-box;
}
.slidertext1 {
  /* background: lightgreen; */
  animation: slide 5s linear infinite;
}
.slidertext2 {
  /* background: skyblue; */
}
.slidertext3 {
  font-size: 0.9em;
  /* background: lightcoral; */
}

@keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}
