.imagesize {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

#circle {
  margin: 40px 0 30px 0;
  border-radius: 50%;
}
/* slick control */
.slick-slider {
  width: 100%;
}
.slick-dots {
  bottom: 0;
}
.otherImage {
  width: 140px;
  height: 140px;
  margin: 50px 0;
}

.__Slider a:hover {
  color: #ddd;
}
.__Slider a {
  color: #000;
  letter-spacing: 1px;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

/*  */

@media screen and (max-width: 768px) {
  .__projectListSlider {
    height: 100px;
  }
  .__Slider a,
  .__Slider a:visited {
    color: #000;
    letter-spacing: 1px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
  }

  .imagesize {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
}
