main {
  display: flex;
}
.MainSlider {
  width: 60%;
  display: flex;
  flex-direction: column;
}
/* Project */
.__projectContainer {
  margin-top: 130px;
  text-transform: uppercase;
  width: 100%;
}
.__projectContainer:last-child {
  margin-bottom: 130px;
}

.__projectContainer > a {
  display: inline;
  background-color: #000;
  padding: 20px;
  color: #fff;
  font-size: 2em;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-weight: bold;
  text-decoration: none;
}

.ProjectContainer {
  height: 300px;
  background-color: #fff;
  border: 20px solid #000;
  border-radius: 8px;
  text-align: center;
}

.ProjectContainer ul {
  margin-top: 30px;
}

.ProjectContainer a {
  font-weight: bold;
  margin-top: 10px;
  text-decoration: none;
}
.ProjectContainer img {
  width: 180px;
  height: 180px;
}

/* workroom circle */

.circle {
  border-radius: 50%;
}

/*  */

@media screen and (max-width: 768px) {
  .__projectContainer {
    margin-top: 50px;
  }

  .__projectContainer > a {
    display: inline;
    background-color: #000;
    padding: 10px;
    color: #fff;
    font-size: 1em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .__projectContainer:last-child {
    margin-bottom: 40px;
  }
  .ProjectContainer {
    height: 130px;
    border: 10px solid #000;
    border-radius: 8px;
    font-size: 0.1em;
  }
  .ProjectContainer img {
    width: 60px;
    height: 60px;
  }
  .MainSlider {
    margin: 0 auto;
    width: 80%;
  }
}
