.TravelWrapper {
  padding-top: 100px;
}
.TravelContainer {
  width: 70%;
  height: auto;
  border: 5px solid #000;
  margin: 0 auto;
}
.FirstRow {
  border-bottom: 3px solid #000;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.FirstRow p {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 20px;
  flex-grow: 5;
}

.Icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-right: 3px solid #000;
  padding: 0 20px;
  flex-grow: 0.08;
}
.Icon img {
  width: 100%;
  height: 100%;
}

.rightIcons {
  display: flex;
  width: 120px;
  height: 40px;
  flex-grow: 0.2;
}
.rightIcons img {
  width: 33%;
  height: 100%;
}

/* Travel Contents */
.TravelLists {
  padding: 30px;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
}
.TravelLists a,
.TravelLists a:visited,
.TravelLists a:hover {
  color: #111;
  text-decoration: none;
}

.MapImage {
  display: inline;
  top: 90px;
  left: 30px;
  position: absolute;
}
.MapImage2 {
  display: inline;
  top: 90px;
  left: 280px;
  position: absolute;
}
.MapImage3 {
  display: inline;
  top: 90px;
  left: 530px;
  position: absolute;
}

.MapImage img,
.MapImage2 img,
.MapImage3 img {
  width: 50%;
}

/* TravelImageLists */

.TravelImageLists {
  padding: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
/* TravelImages */
.TravelImages {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  margin-bottom: 30px;
}
.TravelImages img {
  width: 20%;
}

.__Images {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.__Images p {
  font-size: 0.8em;
}
.__Images img {
  border: 1px solid #ddd;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .FirstRow p {
    font-size: 0.8em;
  }
  .__Images p {
    font-size: 0.1em;
  }
}
