.TravelWrapper {
  padding-top: 100px;
}
.TravelContainer {
  width: 70%;
  height: auto;
  border: 5px solid #000;
  margin: 0 auto;
}
.FirstRow {
  border-bottom: 3px solid #000;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.FirstRow p {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 20px;
  flex-grow: 5;
}

.Icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-right: 3px solid #000;
  padding: 0 20px;
  flex-grow: 0.08;
}
.Icon img {
  width: 100%;
  height: 100%;
}

.rightIcons {
  display: flex;
  width: 120px;
  height: 40px;
  flex-grow: 0.2;
}
.rightIcons img {
  width: 33%;
  height: 100%;
}

/* Travel Contents */
.TravelLists {
  padding: 30px;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
}
.TravelLists a,
.TravelLists a:visited,
.TravelLists a:hover {
  color: #111;
  text-decoration: none;
}

.MapImage {
  display: inline;
  top: 90px;
  left: 30px;
  position: absolute;
}
.MapImage2 {
  display: inline;
  top: 90px;
  left: 280px;
  position: absolute;
}
.MapImage3 {
  display: inline;
  top: 90px;
  left: 530px;
  position: absolute;
}

.MapImage img,
.MapImage2 img,
.MapImage3 img {
  width: 50%;
}

/* TravelImageLists */

.TravelImageLists {
  padding: 30px;
  text-align: center;
  align-items: center;
}
/* TravelImages */
.TravelImages {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  margin-bottom: 30px;
}

.__Images {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 20%;
  background: #ddd;
}
.__Images p {
  padding: 5px 0;
  font-size: 0.8em;
}
.__Images img {
  border: 1px solid #ddd;
  width: 90%;
  margin: 5px auto;
}

/* TravelFooter */

.TravelFooterContainer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.TravelFooterContainer a {
  width: 13%;
  background: #fff;
  border-radius: 5px;
  height: 100%;
  padding: 15px 25px;
  text-align: center;
  font-size: 0.8em;
  font-family: "Jua", sans-serif;
  border: 2px solid #000;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.TravelFooterContainer a:hover {
  background: #111;
  color: #fff;
  border: 2px solid #000;
  transition: all 0.3s ease-in-out;
}

.TravelReady {
  display: none;
  width: 100%;
  text-align: center;
  margin: 8vh 0;
}

@media screen and (max-width: 768px) {
  .TravelImageLists {
    display: none;
  }

  .FirstRow p {
    font-size: 0.8em;
  }
  .__Images p {
    font-size: 0.1em;
  }
  .TravelLists {
    display: none;
  }
  .TravelReady {
    display: block;
  }
}
